#
# udev rule to symlink USB Serial from Yaesu FT991a to /dev/tty.ft991a and tty.ft991b
#
# place this in /etc/udev/rules.d
#
#
# from udevadm info --attribute-walk /dev/ttyUSB0
#
# E: ID_VENDOR_ID=10c4
# E: ID_MODEL_ID=ea70
#
# E: ID_SERIAL_SHORT=DEADBEEF
# DRIVERS=="cp210x"
# ATTRS{serial}=="DEADBEEF", 
#

SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea70", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="tty.991.0"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea70", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="tty.991.1"

